@use 'vars&mixins' as *;

body {
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  width: 90vw;
  max-width: 2440px;
  background-color: #fff;
  margin: 50px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
}
