.giant_wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;

  .main_container {
    max-width: 1400px;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: #e7e7e7;

  h1 {
    font-size: 4rem;
    margin: 45px 0;
  }

  p {
    font-size: 2rem;
  }
}

.grid_wrapper {
  margin: auto;
  width: 50%;
  max-width: 450px;
  min-width: 350px;
  display: grid;
  gap: 2px;
  grid-template-columns: auto auto auto auto;

  button,
  div {
    border-radius: 2.5px;
    font-size: 20px;
    border: 0.5px solid #8586936a;
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
    transition: ease-in-out all 0.4s;
  }
}

.total {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: flex-end;
  background-color: #464646;
  color: white;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ac,
.plus_minus,
.percent,
.seven,
.eight,
.nine,
.four,
.five,
.six,
.one,
.two,
.three,
.zero,
.point {
  background-color: #e0e0e0;
}

.ac:active,
.plus-minus:active,
.percent:active,
.seven:active,
.eight:active,
.nine:active,
.four:active,
.five:active,
.six:active,
.one:active,
.two:active,
.three:active,
.zero:active,
.point:active {
  background-color: #adaaaa;
  transform: scale(0.95);
}

.divide,
.multiply,
.minus,
.plus,
.equal {
  background-color: #404077;
  color: #adaaaa;
}

.divide:active,
.multiply:active,
.minus:active,
.plus:active,
.equal:active {
  background-color: #343460;
  transform: scale(0.95);
}
