@use 'vars&mixins' as *;

.navbar_wrapper {
  border-bottom: solid 1px $line-grey;
  @include flex_box($padd: 10px, $marg: 0, $color: $lig-blue, $flex-d: row, $justify: center, $align: center);
  .navbar {
    @include flex_box($padd: 10px, $marg: 0 10px, $color: $lig-blue, $flex-d: row, $justify: space-between, $align: center);
    .navbar_list {
      max-width: 400px;
      width: 60%;
      @include flex_box($padd: 10px, $marg: 0, $color: $lig-blue, $flex-d: row, $justify: space-between, $align: center);
    }
  }
}
